body{
        background-color: violet;
   background-image: url("https://lgeverola.github.io/Geverola_webdev_midterm/rm.jpg");
        backgound - repeat: no-repeat;
      }
      .container {
        max-width: 1040px; 
        margin: auto; 
        font-family: sans-serif;
      }
      .month {
        text-allign: center;
        background-color: gray;
        font-size: 2.5em; 
        letter-spacing: 5px; 
        color: #FF0099; 
        padding: 25px; 
        border: 1px solid #FF0099; 
      }
      table, th, td {
        width: 50%; 
        table-layout:fixed; 
        text-allign: center; 
        font-size: 30px; 
        border-collapse: collapse; 
        border: 1px solid ;   
      }
      tr, th, td {
        padding: 20px;
      }
      th {
        background: ;
        color: ; 
      }
      td {
        background: ; 
      }
      #bmonth {
        font-size: px;
        background: ;
      }
